################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AluraPOO/FileContentIndex/5a6b2c58-e204-42fc-ad0c-9e4dcd257fb2.vsidx
