################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AluraPOO/FileContentIndex/5a6b2c58-e204-42fc-ad0c-9e4dcd257fb2.vsidx
/.vs/AluraPOO/FileContentIndex/f58c7136-0395-4f72-ada4-6cf92052a16f.vsidx
/.vs/AluraPOO/FileContentIndex/554d985a-ad2f-4db0-85f6-35fd8263f2a5.vsidx
/.vs/AluraPOO/FileContentIndex/64662b96-2c04-4e48-ba96-779846a15f86.vsidx
/.vs/AluraPOO/FileContentIndex/2ce56925-6050-4d04-9b2f-f9996d49cc64.vsidx
/.vs/AluraPOO/FileContentIndex/3a8fafd5-5a59-470b-82ce-9afd90e13b7c.vsidx
/.vs/AluraPOO/FileContentIndex/aacf268c-4f12-4e59-9ef9-ce894ecbef27.vsidx
/.vs/AluraPOO/FileContentIndex/4894478d-8b0c-4b6c-9b23-5a38e5243097.vsidx
/.vs/AluraPOO/FileContentIndex/00461e08-f142-47e8-aa8e-960fe660ba2e.vsidx
