################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AluraPOO/FileContentIndex/5a6b2c58-e204-42fc-ad0c-9e4dcd257fb2.vsidx
/.vs/AluraPOO/FileContentIndex/f58c7136-0395-4f72-ada4-6cf92052a16f.vsidx
/.vs/AluraPOO/FileContentIndex/554d985a-ad2f-4db0-85f6-35fd8263f2a5.vsidx
